<% if correct_user(@user) %>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript">
function get_ac(){
 	$.get("/news/autocomplete.json?",{q:$('#searchh').val()},function(data, status){
 		console.log(data)
        $('#searchh').autocomplete({
    		source: data
    	});
    });
 }
 </script>

<h4> Logged in </h4>

<div class="container">
  <div class="row">



	
<% @all_news.each do |news| %>
<div class="well">

<ul style=" list-style-type: none;">

<li>
  <h2  id="<%= news.id %> " ><%= news.title %></h2> 
  <h6><%= news.category %> </h6>  
  <p style="text-align:justify;"> <%= news.content.html_safe %> </p> 
  <img style="align:centre;" src= " <%= news.url %> "/>
  

</li>
<br/>
  <p>
   <%= news.reputation_for(:votes) %>
     <% if current_user && !current_user.voted_for?(news) %>
    <%= link_to "UpVote", {:action => "vote", :query => "up", :id => news.id},:class=> "btn" %>
    <%= link_to "DownVote", {:action => "vote", :query => "down", :id => news.id} , :class=> "btn" %>
    <% end %>
  </p>
</ul>
<br\>
</div>

<% end %>

</div>
</div>
<% end %>