
<% if correct_user(@user) %>
<h4> Logged in </h4>
<% end %>

<div class="container">
  <div class="row">



	
<% @all_news.each do |news| %>
<div class="well">

<ul style=" list-style-type: none;">

<li>
  <h2  id="<%= news.id %> " ><%= news.title %></h2> 
  <h6><%= news.category %> </h6>  
  <p style="text-align:justify;"> <%= news.content.html_safe %> </p> 
  <img style="align:centre;" src= " <%= news.url %> "/>
</li>

</ul>

<br\>
</div>

<% end %>




</div>
</div>
