<!DOCTYPE html>
<html>
<head>
  <title>CreateNewsDatabase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner" style="padding-left:20px;">
      <a class="brand" href="/news/index">Home</a>
      <a class="brand" href="/news/sports">Sports</a>
      <a class="brand" href="/news/business">Business</a>
      <a class="brand" href="/news/technology">Technology</a>
	  <a class="brand" href="/news/entertainment">Entertainment</a>



<div class="brand">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
</div>
 

<div class="" style=" top:17px; right:20px; position:fixed; z-index:1000;">
  <%= form_tag("search", :methode => :post) do |f| %>

  
    <%= text_field_tag :q, params[:q], autocomplete: "off", id: "searchh" ,onKeyUp: "return get_ac()" , :style=>"z-index:1010; height:30px; " %>
    <%= submit_tag "Go", name: nil, :class=>"btn btn-success" , :style=>"z-index:990;"%>
<% end %>
</div>

 


</nav>

<br/>
<br/>
<br/>


<br/>

<%= yield %>

</body>
</html>

